footer {
    background-color: rgb(117, 179, 117);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    height: 2.4rem;
}

.footer {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.link {
    color: rgb(18, 95, 18);
    font-size: 1.3rem;
    text-decoration: none;
}

.redes-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .logo-footer {
        height: 2.8rem;
    }

    .footer {
        gap: 2rem;
    }

    .link {
        font-size: 1.6rem;
    }

    .redes-container {
        gap: 2rem;
    }

    .redes-icon {
        height: 1.6rem;
    }
}