.navbar {
  background-color: #3DBEFF;
  padding: 2rem 1rem;
}

.container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navbar-brand {
  margin-right: auto;
  display: flex;
  align-items: bottom;
}

.logo {
  width: 11rem;
}

.menu {
  list-style: none;
  display: none;
}
.menu-link{
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}
.menu-toggle {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
  border: none;
}

.hamburguer-menu {
  background-color: #3DBEFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: fit-content;
  cursor: pointer;
  gap: 0.6rem;
}

.line {
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .menu {
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;
  }

  .contact {
    background-color: white;
    padding: 0.8rem 1.5rem;
    color: rgb(20, 20, 20);
    border-radius: 5rem;
    font-weight: bold;
  }

  .logo{
    margin-left: 1rem;
    width: 10rem;
  }
  .menu-link{
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.6rem;
    position: absolute;
    top: 12%;
    width: 88%;
    left: 0%;
    text-align: center;
    z-index: 1;
    background-color: #1b9bdb;
  }

}

